*{
  padding: 0;
  margin: 0;
  color: aliceblue;
}

body {
  overflow: hidden;
}

img {
  position: absolute;
 width: 100vw;
 height: 100vh;
}

h1 {
  text-transform: capitalize;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
}

.container {
  position: relative;
  top: 10em;
  left: 24rem;
}

.container  {
  width: 570px;
  height: 250px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.9px);
-webkit-backdrop-filter: blur(3.9px);
border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.container-box .box-zone {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   max-width: 570px;
}

.box-zone {
  position: relative;
  top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.count {
  /* From https://css.glass */
background: rgba(59, 57, 57, 0.37);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(59, 57, 57, 0.4);
  color: black;
  padding: 1em;
  width: 75px;
  height: 15%;
  text-align: center;
}


